.banner {
  position: relative;
  overflow: hidden;
  min-height: 700px;
  background: url("../images/banner/bn1.png") center center no-repeat;
  mix-blend-mode: color-dodge;

  & .container {
    min-height: 700px;
    max-width: 1600px;
  }

  &__wrapper {
    position: relative;
  }

  &__person {
    position: absolute;
    top: 150px;
    left: 460px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  }

  &__title {
    position: absolute;
    top: 220px;
    left: 460px;
  }

  &__subtitle {
    position: absolute;
    top: 400px;
    left: 460px;
  }

  &__btn {
    z-index: 10;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 513px;
    right: 70px;
    & img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }

  &__time {
    position: absolute;
    top: 650px;
    left: 55px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  }

  &__address {
    position: absolute;
    top: 650px;
    left: 460px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;

    & span {
      color: #2258fc;
      cursor: pointer;
    }
  }

  &__map {
    margin-left: 36px;
    padding-left: 20px;
    background: url("../images/banner/map.svg") left center no-repeat;
  }

  &::after {
    content: "";
    display: block;
    width: 521px;
    height: 521px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -71px;
    background: #0036d7;
    filter: blur(150px);
  }
}

@media (max-width: 1600px) {
}
