.button {
  display: block;
  margin: 0 auto;
  width: 163px;
  height: 45px;
  background: none;
  border: 1px solid #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 163px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: -8px;
    border: 1px solid #ffffff;
  }

  &_burger {
    display: none;
  }
}
