*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  color: #fff;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.main {
  background: linear-gradient(180deg, #0b0744 0%, #022cb1 67.65%, #0036d7 100%);
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  opacity: 1;
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}
