.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  & .container {
    max-width: 1600px;
  }

  &__inner {
    flex: 0 1 844px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    &-btn {
      flex: 1 1 265px;
    }
  }

  &__logo {
    margin-left: 55px;
    flex: 1 1 391px;
    & p {
      font-weight: 900;
      font-size: 35px;
      line-height: 43px;
      text-transform: uppercase;
      color: #fff;
    }
    & p:last-child {
      display: none;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      text-transform: none;
    }
  }

  &__menu {
    flex: 0 1 580px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    & a {
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  &__social {
    flex: 0 1 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-img {
    width: 20px;
    height: 20px;
  }

  &__btn {
    display: block;
    margin: 0 25px 0 auto;
  }
}

@media (max-width: 1600px) {
  .header {
    background: #0b0744;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
    &__logo {
      margin-left: 0;
      flex: 1 1 225px;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    &__logo {
      flex: 1 1 auto;
    }
    &__btn {
      display: none;
    }
    &__menu {
      display: none;
    }
    &__social {
      display: none;
    }
    &__wrapper-btn {
      flex: 1 1 auto;
    }
  }
}

@media (max-width: 575px) {
  .header {
    z-index: 100;
    padding: 10px 0;
    &__logo {
      & p:last-child {
        display: block;
      }
    }
  }
}
