.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  &__inner {
    flex: 0 1 944px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    &-btn {
      flex: 0 1 265px;
    }
  }

  &__logo {
    flex: 0 1 391px;
    font-weight: 900;
    font-size: 35px;
    line-height: 43px;
    text-transform: uppercase;
    color: #fff;
  }

  &__menu {
    flex: 0 1 580px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
  }

  &__social {
    flex: 0 1 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-img {
    width: 20px;
    height: 20px;
  }
}
