.popup-menu {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: #0b0744, $alpha: 0.7);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s linear;
  &.open {
    visibility: visible;
    opacity: 1;
    & .popup-menu__inner {
      transform: translateX(0%);
    }
    & .popup-menu__list {
      transform: scaleY(1);
    }
  }
  &.close {
    visibility: hidden;
    opacity: 0;
    & .popup-menu__inner {
      transform: translateX(100%);
    }
  }

  &__inner {
    max-width: 350px;
    margin: 0 0 0 auto;
    padding: 70px 50px 50px;
    background: #2258fc;
    position: relative;
    transition: 0.5s linear;
    transform: translateX(100%);
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    &-btn {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: none;
      border: 2px solid #fff;
      transform: rotateZ(45deg);
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 2px;
        height: 20px;
        background: #fff;
      }
    }
  }

  &__title {
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
  }

  &__list {
    margin-bottom: 50px;
    transition: 0.5s linear 0.5s;
    transform: scaleY(0);
  }

  &__item {
    margin-bottom: 20px;
    & a {
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
    }
    &:last-child {
      margin: 0;
    }
  }

  &__socials {
    margin-bottom: 50px;
    & a {
      display: inline-block;
      width: 20px;
      height: 20px;
      &:first-child {
        margin-right: 20px;
      }
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  & .header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

@media (max-width: 575px) {
  .popup-menu {
    &__inner {
      padding: 20px 20px 50px;
    }
    &__close {
      &-btn {
        width: 60px;
        height: 60px;
      }
    }
  }
}
