.trainers {
  padding-bottom: 200px;

  &__title {
    margin-bottom: 125px;
  }

  &__sliders {
    overflow: hidden;
  }

  &__sliders-inner {
    display: flex;
    margin: 0 -15px;
    width: 200%;
    transition: 0.5s;
  }

  &__item {
    height: 355px;
    width: 309px;
    padding: 0 15px;
    overflow: hidden;
    &:hover {
      & .trainers__slide-text {
        transform: translateY(-100%);
      }
    }
  }

  &__slide {
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slide-text {
    height: 100%;
    padding: 150px 20px 0;
    background: #0141ff;
    border: 1px solid #0036d7;
    transition: all 0.5s;
  }

  &__name {
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #fff;
  }

  &__sport {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fff;
  }
}
