.workouts {
  padding-bottom: 200px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 585px;
    height: 585px;
    position: absolute;
    bottom: -85%;
    left: -55px;
    background: #0036d7;
    filter: blur(300px);
  }

  &__title {
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    &-item {
      padding: 0 20px;
    }
    &-item:first-child {
      flex: 0 1 40%;
    }
    &-item:last-child {
      flex: 0 1 60%;
    }
  }

  &__text {
    margin: 100px 0 25px;
    max-width: 80%;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
  }

  &__descr {
    max-width: 80%;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  }

  // &__slider {
  // }
}
